./d08/.DS_Store
./d08/._.DS_Store
./d05/.DS_Store
./d05/._.DS_Store
./d03/.DS_Store
./d03/._.DS_Store
./exam01/.DS_Store
./exam01/._.DS_Store
./exam00/.DS_Store
./exam00/._.DS_Store
./stupidity/.DS_Store
./stupidity/._.DS_Store
